nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  background-color: white;
}

.nav__logo {
  flex: 2;
  color: #1c2d49;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav__list {
  display: flex;
  flex: 5;

  a {
    text-decoration: none;
    color: black;
  }
}
