.property {
  display: flex;
  width: 450px;
  height: 200px;
  align-items: center;
  border-radius: 20px;
  background-color: #fbfbfb;
  box-shadow: 10px 10px 10px lightgray;
  margin: 20px 50px;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
    h1 {
      color: #35b2f2;
    }
  }
}

.property__img {
  width: 150px;
  height: 100%;
  object-fit: cover;
  flex: 1;
  border-radius: 20px 0 0 20px;
  flex: 1;
}

.property__title {
  font-size: 1rem;
  transition: color 0.3s;
}

.property__text {
  flex: 1;
  font-size: 0.8rem;
  line-height: 2;
  text-align: center;
}

.addressIcon {
  color: #35b2f2;
}

@media only screen and (max-width: 700px) {
  .property {
    min-width: 320px;
  }

  .property__text {
    font-size: 0.75rem;
  }
}
