nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background-color: white;
}

.nav__logo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #1c2d49;
}

.nav__logo h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.nav__list a {
  text-decoration: none;
  color: black;
}

.Home {
  width: 100vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../Media/homebg.jpg");
  background-position: center;
  background-size: cover;
}

.home__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__text {
  font-size: 2rem;
  color: white;
  text-shadow: 10px 10px 10px black;
  text-align: center;
}

.home__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  width: 900px;
}

.search__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.search__filters .filter__text {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-radius: 20px 20px 0 0;
  background-color: white;
  width: 200px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.search__filters .filter__text:hover {
  cursor: pointer;
}

.filter__text.active {
  background-color: #1c2d49;
  color: white;
}

.search__selectors {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
}

.search__selectors select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  font-size: 1.1rem;
  border-radius: 20px;
}

.search__selectors select:focus {
  outline: none;
}

.search__selectors h3 {
  color: gray;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.search__button {
  width: 100px;
  height: 50%;
  border-radius: 20px;
  background-color: #1c2d49;
  color: white;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search__button:hover {
  cursor: pointer;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.fa-search {
  font-size: 2rem;
}
/*# sourceMappingURL=styles.css.map */